<div class="container">
    <form action="/historiaclinica/edit?id=@Model.id" method="post">

    <div class ="form-group">
        <label for="Nombre">Nombre</label>
        <input type="text" class="form-controll" name="Nombre" id="Nombre" value=@Model.Nombre>
    </div>

    <button class = "btn btn-primary">Guardar</button>

    </form>
</div>